<!-- @format -->

<!-- @format -->
<%if(typeof errors != "undefined"){ errors.map((error)=>{ %>

<h2><%=error.message%></h2>

<% })} %>
<div class="wrong-user">
  <a href="/"> <button>Goback</button> </a>
</div>
