<!-- @format -->
<%- include("./partials/header.ejs") -%>
<div class="login-container">
  <div class="login-contents">
    <div class="login-box">
      <!-- <div class="login-page-img">
        <img src="../images/1.png" alt="" />
      </div> -->
      <div class="login-details">
        <h2>Sign-in</h2>
        <%- include("./partials/messages.ejs") %>
        <div class="form-details">
          <form action="/user/login" method="POST">
            <label>Email</label>
            <input
              type="email"
              placeholder="Enter Email"
              name="email"
              required
            />
            <label>Password</label>
            <input
              type="password"
              placeholder="Enter Password"
              name="password"
              required
              autocomplete
            />
            <button type="submit">Sign in</button>
          </form>
        </div>

        <div class="register-page-link">
          <p>
            If you dont't have an accout <a href="/user/register">Register</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("./partials/footer.ejs") -%>
